body {
  background: linear-gradient(0deg, #7e8461 0%, #eaeaea 100%) fixed;
}
/* background: linear-gradient(
      0deg,
      rgb(93, 51, 100) 0%,
      rgb(135, 127, 139) 100%
    )
    fixed;
} */

/*  NAV BAR */

.navbar {
  margin-left: 1em;
  margin-right: 1em;
  border: 3px solid #887080;
  background: #eaeaea;
  border-radius: 1em;
}

.navbar-brand > img {
  height: 8vh;
}

.navs {
  align-content: flex-end;
  width: 100%;
}

/* ABOUT SECTION */

.about {
  margin-top: 3em;
  border: 3px solid #887080;
  border-radius: 1em;
  max-height: 45vh;
  overflow: auto;
}

.about-content {
  display: flex;
  margin: 1.5vw;
}

.about-text {
  margin: 1vw;
  width: 55vw;
}

.about-photo > img {
  margin: 1vw;
  height: 10em;
  margin-right: 2vw;
  margin-top: 2vw;
}

.about-links {
  margin-top: 2.25vw;
}

.about-links > .link > .alink {
  width: 3em;
  height: 3em;
  padding: 0.25vw;
}

/* SKILL CARDS */

.card.skill {
  min-height: 20em;
  background: transparent;
}

.skills {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  border: 3px solid #887080;
  /* 012A36  GUNMETAL?*/
  border-radius: 1em;
  padding-bottom: 1em;
}

.skills-header {
  text-align: center;
  font-size: 2em;
}

.list-group-item {
  background-color: transparent !important;
  font-size: 1em;
}

.list-group-item > svg {
  font-size: 2em;
}

/* PROJECT CARDS  */

.projects {
  width: 100vw;
}

.projects-header {
  margin: 2em;
  padding-top: 0.5em;
  text-align: center;
}

.card-text {
  text-align: center;
  margin-top: 0.5em;
}

.card.project {
  height: 70vh;
  background: transparent;
}

.card.project > .card-header {
  text-align: center;
}

.project > .card-body {
  display: flex;
  overflow: auto;
}

.card.project > .card-body img {
  height: 40vh;
  width: 40vw;
  margin-left: 3vw;
}

.project > .card-footer {
  /* margin-bottom: 1vh; */
  background: transparent;
  text-align: center;
  font-size: 2em;
}

.carousel-container {
  margin: 2em;
  padding-bottom: 2em;
  border-radius: 1em;
}

/* RESUME */

.react-pdf__Page {
  /* border: 5px solid black; */
  /* max-height: 80vh; */
  max-width: 99vw;
  margin: 1vw;
  /* overflow: auto; */
}

.react-pdf__Document {
  margin: 1vw;
  display: flex;
  justify-content: center;
}

.react-pdf__Page__textContent {
  border: 2em solid #887080;
}
